# ============================================================
# Voron 2.4 350mm
# Placa: BTT Octopus Pro v1.0 F446
# Toolhead: Mellow SB2040 Pro Mac v3 (CAN bus)
# Extrusor: Galileo 2
# Sensor Z: Voron Tap
# Drivers ejes: TMC2209
# Driver extrusor: TMC2240
# ============================================================

[include mainsail.cfg]
[include SB2040.cfg]

[include sb_leds.cfg]
[include KAMP_Settings.cfg]


[shaketune]

# --------------------------------
# MCU - Octopus Pro
# --------------------------------
[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_3C0061001551303432323631-if00
restart_method: command

# --------------------------------
# Virtual SD Card
# --------------------------------
[virtual_sdcard]
path: /home/voron/printer_data/gcodes
on_error_gcode: CANCEL_PRINT


# --------------------------------
# Configuración general
# --------------------------------
[printer]
kinematics: corexy
max_velocity: 500
max_accel: 3000
max_z_velocity: 20
max_z_accel: 350
square_corner_velocity: 5.0

[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

[exclude_object]
[respond]
[force_move]
enable_force_move: true


# --------------------------------
#   X/Y Stepper Settings
# --------------------------------
##  B Stepper - Left
##  Connected to MOTOR_0
##  Endstop connected to DIAG_0

[stepper_x]
step_pin: PF13
dir_pin: !PF12
enable_pin: !PF14
microsteps: 32
rotation_distance: 40
full_steps_per_rotation:200
endstop_pin: SB2040:gpio20
position_endstop: 350
position_min: 0
position_max: 350
homing_speed: 60
homing_retract_dist: 5
homing_positive_dir: true

[tmc2209 stepper_x]
uart_pin: PC4           # ← UART, no SPI
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0
#diag_pin: PG6           # ← Opcional, para sensor de pérdida de pasos

##  A Stepper - Right
##  Connected to MOTOR_1
##  Endstop connected to DIAG_1

[stepper_y]
step_pin: PG0
dir_pin: !PG1
enable_pin: !PF15
microsteps: 32
rotation_distance: 40
full_steps_per_rotation:200 
endstop_pin: ^PG9
position_endstop: 350
position_min: 0
position_max: 350
homing_speed: 60
homing_retract_dist: 5
homing_positive_dir: true

[tmc2209 stepper_y]
uart_pin: PD11
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0
#diag_pin: PG9

# --------------------------------
# Eje Z0 (Front Left)
##  Connected to MOTOR_2
# --------------------------------
[stepper_z]
step_pin: PF11
dir_pin: !PG3
enable_pin: !PG5
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32
endstop_pin: probe:z_virtual_endstop
position_max: 310
position_min: -5
homing_speed: 10
second_homing_speed: 3
homing_retract_dist: 3



[tmc2209 stepper_z]
uart_pin: PC6
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0


# --------------------------------
# Eje Z1 (Rear Left)
##  Connected to MOTOR_3
# --------------------------------
[stepper_z1]
step_pin: PG4
dir_pin: PC1
enable_pin: !PA0
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc2209 stepper_z1]
uart_pin: PC7
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0


# --------------------------------
# Eje Z2 (Rear Right)
##  Connected to MOTOR_4
# --------------------------------
[stepper_z2]
step_pin: PF9
dir_pin: !PF10
enable_pin: !PG2
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32
 
[tmc2209 stepper_z2]
uart_pin: PF2
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0


# --------------------------------
# Eje Z3 (Front Left)
##  Connected to MOTOR_5
# --------------------------------
[stepper_z3]
step_pin: PC13
dir_pin: PF0
enable_pin: !PF1
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32
 
[tmc2209 stepper_z3]
uart_pin: PE4
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

#####################################################################
#   Extruder - Galileo 2
#####################################################################

[extruder]
step_pin: SB2040:gpio14
dir_pin: SB2040:gpio13   # Si gira al revés, usa !SB2040:tmc2240_extruder:gpio13
enable_pin: !SB2040:gpio16

max_extrude_only_distance: 101


## Galileo 2 Parámetros Mecánicos
#rotation_distance: 47.088
rotation_distance: 46.853
gear_ratio: 9:1
microsteps: 16
full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.75

#Calentador hotend
heater_pin: SB2040:gpio23

## Sensor de temperatura
sensor_type: MAX31865
sensor_pin: SB2040:gpio17      
spi_software_sclk_pin: SB2040:gpio2   
spi_software_mosi_pin: SB2040:gpio3  
spi_software_miso_pin: SB2040:gpio4
rtd_nominal_r: 100               # Mantenlo en 1000 si es una PT1000 (o cambia a 100 si es PT100)
rtd_reference_r: 430             # Resistencia de referencia física de fábrica (4300 ohms)
rtd_num_of_wires: 2
      
min_temp: 10
max_temp: 300
max_power: 1.0
min_extrude_temp: 170
#control: pid
#pid_kp: 26.213
#pid_ki: 1.304
#pid_kd: 131.721
pressure_advance: 0.05
pressure_advance_smooth_time: 0.040
 
## TMC2240 para Pro Max V3
[tmc2240 extruder]
uart_pin: SB2040:gpio15
interpolate: false
run_current: 0.65
rref: 12300
stealthchop_threshold: 0
driver_TPFD: 0 


#####################################################################
#   Probe - Voron TAP 5V
#####################################################################
[probe]
pin: SB2040:gpio18
x_offset: 0
y_offset: 0
#z_offset: 0
speed: 10
samples: 3
samples_result: median
sample_retract_dist: 3.0
samples_tolerance: 0.006
samples_tolerance_retries: 3
 
activate_gcode:
    {% set PROBE_TEMP = 150 %}
    {% set MAX_TEMP = PROBE_TEMP + 5 %}
    {% set ACTUAL_TEMP = printer.extruder.temperature %}
    {% set TARGET_TEMP = printer.extruder.target %}
    {% if TARGET_TEMP > PROBE_TEMP %}
        { action_respond_info('Extruder temperature target of %.1fC is too high, lowering to %.1fC' % (TARGET_TEMP, PROBE_TEMP)) }
        M109 S{ PROBE_TEMP }
    {% else %}
        {% if ACTUAL_TEMP > MAX_TEMP %}
            { action_respond_info('Extruder temperature %.1fC is still too high, waiting until below %.1fC' % (ACTUAL_TEMP, MAX_TEMP)) }
            TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={ MAX_TEMP }
        {% endif %}
    {% endif %}


# --------------------------------
# Cama caliente
# --------------------------------
[heater_bed]
heater_pin: PA3
sensor_type: Generic 3950
sensor_pin: PF3
max_power: 1.0
min_temp: 0
max_temp: 120
#control: pid
#pid_kp: 58.437
#pid_ki: 2.347
#pid_kd: 363.769


# --------------------------------
# Ventiladores
# --------------------------------
[controller_fan controller_fan]
pin: PD12
kick_start_time: 0.5
heater: heater_bed

#[heater_fan nevermore_fan]
#pin: PF1
#kick_start_time: 5.0
#off_below: 0.10

# --------------------------------
# Quad Gantry Level (QGL)
# --------------------------------
[idle_timeout]
timeout: 1800
 
[safe_z_home]
home_xy_position: 175, 175
speed: 100
z_hop: 10
z_hop_speed: 10
 
[quad_gantry_level]
gantry_corners:
    -60,-10
    410,420
points:
    50,25
    50,275
    300,275
    300,25
speed: 200
horizontal_move_z: 10
retries: 5
retry_tolerance: 0.0075
max_adjust: 10
 
[bed_mesh]
speed: 100
horizontal_move_z: 10
mesh_min: 40, 40
mesh_max: 310, 310
fade_start: 0.6
fade_end: 10.0
probe_count: 5, 5
algorithm: bicubic


[verify_heater extruder]
max_error: 20
check_gain_time:120
hysteresis: 50
heating_gain: 2



#####################################################################
#   Macros
#####################################################################
[gcode_macro G32]
gcode:
    SAVE_GCODE_STATE NAME=STATE_G32
    G90
    G28
    QUAD_GANTRY_LEVEL
    G28
    G0 X175 Y175 Z30 F3600
    RESTORE_GCODE_STATE NAME=STATE_G32
 
[gcode_macro PRINT_START]
gcode:
    {% set BED_TEMP = params.BED|default(60)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER|default(190)|float %}
    
    STATUS_HEATING
    M140 S{BED_TEMP}
    M104 S150
    
    STATUS_HOMING
    G28
    
    STATUS_CLEANING
    CLEAN_NOZZLE

    STATUS_HEATING
    M190 S{BED_TEMP}
    
    STATUS_LEVELING
    QUAD_GANTRY_LEVEL

    BED_MESH_CLEAR
    
    G28 Z
    
    STATUS_MESHING
    #BED_MESH_CALIBRATE
    BED_MESH_CALIBRATE ADAPTIVE=1
    G0 X175 Y175 Z30 F3600
    
    STATUS_HEATING    
    M109 S{EXTRUDER_TEMP}
    
    G92 E0
    G1 E2 F300
    G92 E0
    
    STATUS_PRINTING
 
[gcode_macro PRINT_END]
gcode:
    {% set th = printer.toolhead %}
    {% set x_safe = th.position.x + 20 * (1 if th.axis_maximum.x - th.position.x > 20 else -1) %}
    {% set y_safe = th.position.y + 20 * (1 if th.axis_maximum.y - th.position.y > 20 else -1) %}
    {% set z_safe = [th.position.z + 2, th.axis_maximum.z]|min %}
    SAVE_GCODE_STATE NAME=STATE_PRINT_END
    M400
    G92 E0
    G1 E-5.0 F1800
    TURN_OFF_HEATERS
    G90
    G0 X{x_safe} Y{y_safe} Z{z_safe} F20000
    G0 X{th.axis_maximum.x//2} Y{th.axis_maximum.y - 2} F3600
    M107
    BED_MESH_CLEAR
    RESTORE_GCODE_STATE NAME=STATE_PRINT_END
 
#####################################################################
#   Purge & Clean Nozzle
#####################################################################
[gcode_macro CLEAN_NOZZLE]
variable_brush_x: 135
variable_brush_y: 350
variable_brush_z: 4
variable_wipe_count: 5
gcode:
    SAVE_GCODE_STATE NAME=CLEAN_NOZZLE
    G90
    G0 Z{brush_z + 5} F3000
    G0 X{brush_x} Y{brush_y} F6000
    G0 Z{brush_z} F1500
    {% for i in range(wipe_count) %}
        G0 X{brush_x - 20} F6000
        G0 X{brush_x + 20} F6000
    {% endfor %}
    G0 Z{brush_z + 5} F3000
    RESTORE_GCODE_STATE NAME=CLEAN_NOZZLE
 
[gcode_macro PURGE_NOZZLE]
variable_purge_x: 170
variable_purge_y: 350
variable_purge_z: 5
variable_purge_amount: 30
gcode:
    SAVE_GCODE_STATE NAME=PURGE_NOZZLE
    G90
    G0 X{purge_x} Y{purge_y} Z{purge_z} F6000
    G91
    G1 E{purge_amount} F300
    G1 E-2 F1800
    G90
    RESTORE_GCODE_STATE NAME=PURGE_NOZZLE
 

#####################################################################
#   Load / Unload Filament
#####################################################################
[gcode_macro LOAD_FILAMENT]
variable_load_distance: 50
variable_purge_distance: 25
gcode:
    {% set speed = params.SPEED|default(300) %}
    SAVE_GCODE_STATE NAME=LOAD_FILAMENT
    M83
    G1 E{load_distance} F{speed}
    G1 E{purge_distance} F150
    RESTORE_GCODE_STATE NAME=LOAD_FILAMENT
 
[gcode_macro UNLOAD_FILAMENT]
variable_unload_distance: 60
gcode:
    {% set speed = params.SPEED|default(300) %}
    SAVE_GCODE_STATE NAME=UNLOAD_FILAMENT
    M83
    G1 E5 F150
    G1 E-{unload_distance} F{speed}
    RESTORE_GCODE_STATE NAME=UNLOAD_FILAMENT
 
#####################################################################
#   PID Tuning
#####################################################################
[gcode_macro PID_TUNE_BED]
gcode:
    {% set TARGET = params.TARGET|default(100)|float %}
    PID_CALIBRATE HEATER=heater_bed TARGET={TARGET}
 
[gcode_macro PID_TUNE_EXTRUDER]
gcode:
    {% set TARGET = params.TARGET|default(245)|float %}
    PID_CALIBRATE HEATER=extruder TARGET={TARGET}
 
#####################################################################
#   Park & Motors Off
#####################################################################
[gcode_macro PARK]
gcode:
    SAVE_GCODE_STATE NAME=PARK
    G90
    G0 X175 Y350 Z50 F6000
    RESTORE_GCODE_STATE NAME=PARK
 
[gcode_macro MOTORS_OFF]
gcode:
    M84
 
#####################################################################
#   Pause / Resume / Cancel
#####################################################################
[pause_resume]
 
[gcode_macro PAUSE]
rename_existing: BASE_PAUSE
gcode:
    {% set z = params.Z|default(10)|int %}
    SAVE_GCODE_STATE NAME=PAUSE_STATE
    BASE_PAUSE
    G91
    G1 Z{z} F900
    G90
    PARK
 
[gcode_macro RESUME]
rename_existing: BASE_RESUME
gcode:
    RESTORE_GCODE_STATE NAME=PAUSE_STATE MOVE=1
    BASE_RESUME
 
[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
    TURN_OFF_HEATERS
    CLEAR_PAUSE
    SDCARD_RESET_FILE
    BASE_CANCEL_PRINT
    PARK
    M107
    BED_MESH_CLEAR

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 65.200
#*# pid_ki = 3.477
#*# pid_kd = 305.624
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 32.963
#*# pid_ki = 1.391
#*# pid_kd = 195.315
#*#
#*# [probe]
#*# z_offset = -1.084
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 49.0
#*# shaper_type_y = ei
#*# shaper_freq_y = 36.6
